@model IEnumerable<Store_chain.Controllers.ProductDepartmentDto>

@{
    ViewBag.Title = "Store";
    Layout = "_Layout";
}

<h1>Store</h1>

<div>
    <h4>@ViewBag["Department"]</h4>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberDisplayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
        </tr>
        </thead>
    </table>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberDisplayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <!--td>
                <!--a asp-action="optimize" asp-route-id="@item.Product.Id">Optimize</a>
            </td-->
        </tr>
    }
    </tbody>
</div>