@model (List<Products> products, Store_chain.Data.BuyActionClass BuyClass)

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.products.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products.First().SoldToCustomersCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products.First().QuantityInDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products.First().Category)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.products.GroupBy(x => x.department).Select(x => new
        {
            x.Key,
            Items = x.Select(x => x).ToList()
        }))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Key.Description)
            </dt>
            foreach (var productse in item.Items)
            {
                if (productse.IsDisplay)
                {
                    <form asp-action="BuyAction">
                        <div class="form-group">
                            <label asp-for="BuyClass.ProductKey" class="control-label"></label>
                            <span asp-validation-for="BuyClass.ProductKey" class="text-danger">
                                @Html.DisplayFor(modelItem => productse.Id)
                            </span>
                        </div>
                        <td asp-for="ProductId">
                            @Html.DisplayFor(modelItem => productse.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => productse.SoldToCustomersCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => productse.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => productse.QuantityInDisplay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => productse.Category)
                        </td>
                        <div class="form-group">
                            <label asp-for="BuyClass.CustomerKey" class="control-label"></label>
                            <input asp-for="BuyClass.CustomerKey" class="form-control" />
                            <span asp-validation-for="BuyClass.CustomerKey" class="text-danger"></span>
                        </div>
                        @*<label asp-for="BuyClass.CustomerKey"></label>
                        <input type="number" asp-for="BuyClass.CustomerKey" width="10">*@
                        <div class="form-group">
                            <input type="submit" value="Buy" class="btn"/>
                        </div>
                    </form>
                    <br/>
            }
        }
    }
        </tbody>
    </table>