@model (List<Products> products, int customer)

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.products.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products.First().SoldToCustomersCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products.First().QuantityInDisplay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.products.First().Category)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.products.GroupBy(x => x.department).Select(x => new
        {
            x.Key,
            Items = x.Select(x => x).ToList()
        }))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Key.Description)
            </dt>
            foreach (var productse in item.Items)
            {
                if (productse.IsDisplay)
                {


                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => productse.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => productse.SoldToCustomersCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => productse.Department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => productse.QuantityInDisplay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => productse.Category)
                        </td>
                    </tr>
                    <div class="form-group">
                        <label asp-for="customer" class="control-label"></label>
                        <input asp-for="customer" class="form-control" />
                        <span asp-validation-for="customer" class="text-danger"></span>
                    </div>
                <td>
                    <a asp-action="BuyAction" asp-route-id="@productse.Id">Buy</a>
                </td>
            }
        }
    }
        </tbody>
    </table>