@model List<Products>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@if (!string.IsNullOrEmpty(ViewBag.AlertMessage)){<script>alert("@ViewBag.AlertMessage");</script>}
<table class="table">

    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SoldToCustomersCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().QuantityInDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Category)
        </th>
        <th>
            Customer
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TransactionQuantity)
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GroupBy(x => x.department).Select(x => new
        {
            x.Key,
            Items = x.Select(z => z).ToList()
        }))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Key.Description)
            </dt>
            <tb class="col-sm-2">
                @Html.DisplayFor(model => item.Key.Description)
            </tb>
            foreach (var productse in item.Items)
            {

                @if (productse.QuantityInDisplay != 0)
                {
                    <tr>
                        <form asp-action="BuyAction" method="post">
                            <td>
                                <label name="ProductKey">
                                    @Html.DisplayFor(modelItem => productse.Id)
                                </label>
                            </td>
                            <input type="hidden" name="ProductKey" value="@Html.DisplayFor(modelItem => productse.Id)">
                            <td>
                                @Html.DisplayFor(modelItem => productse.SoldToCustomersCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => productse.Department)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => productse.QuantityInDisplay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => productse.Category)
                            </td>
                            <td>
                                <input type="text" name="CustomerKey" />
                            </td>
                            <td>
                                <input type="number" name="Quantity" />
                            </td>
                            <td>
                                <input type="submit" value="Buy" class="btn" />
                            </td>
                        </form>
                    </tr>
                }
            }
        }
    </tbody>
</table>